<div>
  <h1>Database as a Service 2016</h1>
  <p>
    Neue Technologien aus dem Bereich Cloud
    Computing, NoSQL und Big Data
  </p>
  <br />
  <div style="position: relative;">
    <img alt="Rails" src="<%= asset_path('dbaas.jpg') %>" />
    <img style="left:50%;max-width: 300px;top: 0;margin-top: -150px;" alt="Rails" src="<%= asset_path('docker.png') %>" />
  </div>
<div>
